<nav style="z-index: 5;" class="navbar navbar-expand-lg w-100 top-0 bg-light position-fixed ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="">The-Cart</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item me-3 d-flex">
            <input (keyup)="getSearchTerm($event)" class="form-control me-2" type="text" placeholder="Search By Product" aria-label="Search">
          </li>
          <li class="nav-item me-3">
            <button class="btn btn-outline-dark" type="submit" routerLink="/wishlist"><i class="fa-solid fa-heart text-danger" ></i>Wishlist <span class="badge bg-dark"> {{wishlistCount}} </span> </button>
        </li>
          
          <li class="nav-item me-3">
            <button class="btn btn-outline-dark" type="submit" routerLink="/cart"><i class="fa-solid fa-cart-shopping text-success" ></i>Cart <span class="badge bg-dark"> {{cartCount}} </span></button>
          </li>
          <li *ngIf="!loginUsername" class="nav-item me-3">
            <button class="btn btn-outline-dark" type="submit" routerLink="/login"><i class="fa-solid fa-user text-primary" ></i>Login </button>
          </li>
          <li *ngIf="loginUsername" class="nav-item me-3">
            <span  style="text-decoration: none; color: black;" class="me-2" ><i class="fa-solid fa-user text-primary" ></i> {{loginUsername}} </span>
            <a (click)="logout()" class="btn btn-outline-primary" href="">Logout</a>

          </li>
        </ul>
       
      </div>
    </div>
  </nav>