<app-header></app-header>
<div
  style="width: 100%; height: 90vh;margin-top: 80px;"
  class="d-flex justify-content-center align-items-center"
>
  <div
    style="width: 900px"
    class="shadow bg-primary row rounded p-5 align-items-center"
  >
    <div class="col-lg-6">
      <img
        class="container"
        src="https://www.1stop.ai/images/login-bg.png"
        alt=""
      />
    </div>
    <div class="col-lg-6">
      <form [formGroup]="registerForm" class="border p-5 rounded" >
        <h1 class="fw-bolder mb-5 text-light">Register</h1>
        <div class="form-floating mb-3">
          
            <input
              name="username"
              formControlName="username"
              type="text"
              class="form-control"
              id="floatingInputName"
              placeholder="Username"
              
             
            />
            <label for="floatingInputName">Username</label>
          </div>
          <div *ngIf="registerForm.get('username')?.errors && registerForm.get('username')?.touched" class="mb-3 text-danger">Invalid Username</div>
        <div class="form-floating mb-3">
          <input
            name="email"
            formControlName="email"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="name@example@gmail.com"
           
          />
          <label for="floatingInput">Email Address</label>
        </div>
        <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="mb-3 text-danger">Invalid Email address</div>

        <!-- invalid email
        <div  class="text-danger mb-3">
            *Invalid Email
        </div> -->
        <div class="form-floating mb-3">
          <input
            name="password"
            formControlName="password"
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Password"
            
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched" class="mb-3 text-danger">Invalid password</div>

        <!-- <div  class="text-danger mb-3">
            *Invalid Password
        </div> -->
        <div>
          <button (click)="register()" type="submit"  class="btn btn-dark">Register</button>
        </div>
        <div class="text-light mt-3">
            Already a User? Click Here To <span style="cursor: pointer;" class="text-dark fw-bolder" routerLink="/login">Login</span>
        </div>

      </form>
    </div>
  </div>
</div>
